*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.658);
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    position: fixed;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.972);
    top : 0;
    left:0 ;
    z-index: 100;


}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle, .nav__close {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    
}

@media screen and (max-width:1023px){
    .nav__menu {
        position:fixed;
        top:0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 50%;
        height: 100%;
        padding: 4.5rem 0 0 3rem; 
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;

    }

}

.nav__list {
    list-style-type:none;
    display:flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    font-weight:700;
    transition: color .4s;

}

.nav__link:hover {
    color: #0ef;
}
    
.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    right: 0;
}
