@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #1f242d;
    --background-color2: #1E293B;
    --primary-color: #0ef;
    --white-color: #fff;
    --black-color: #111;
    --text-color: rgb(203, 213, 225);
    --secondary-color:rgb(160, 174, 192);
    --third-color: #CBD5E1;
    --fourth-color: #334155;

    --header-font-size : 1.5rem;
    --header-text-decoration: undeline;

}

* , *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#loader {
    background: var(--background-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation: spin 1s linear infinite;
    display: none; /* Hide the loader initially */
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  

body {
    background: var(--background-color);
    color:var(--white-color);
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */

/* /* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  */
} 

/* header  */
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    left: 7;
    top:6;
    width: 100%;
    background: rgba(28, 32, 37, 0.884);
    z-index: 100;
    
    
}

.logo-p {
    width: 150px;
    opacity: 80%;
    padding-top: 0.5rem;
    margin-left: -1.5rem;
      
}

.logo-p:hover {
    cursor: default;
}

.nav {
    list-style: none;
    
   
}

.nav li{
    display:inline-block;
    padding: .7rem .4rem;
    font-size: 1rem;
    font-weight: 700;
    color:rgb(160, 174, 192);
    margin-right: 1rem;    
}

/* navbar */
.nav-link {
    color:rgb(160, 174, 192);
    text-decoration: none;
}

.nav-link:hover {
    color:var(--primary-color)
}

/* Menu bar  */
.nav-container {
    margin: 13px -35px 0 0;
    display: none;
    
}

.label-check{
    display: none;
}

.hamburger-label{
    width: 90px;
    height: 8px;
    display:block;
    cursor: pointer;
}

.hamburger-label div {
    width: 28px;
    height: 2px;
    background-color: var(--third-color);
    position: absolute;
}

.line1 {
    transition: all .3s;
}

.line2 {
    margin: 7px 0 0 0;
    transition: .3s;
}

.line3 {
    margin: 14px 0 0 0;
    transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
    transform:rotate(-206deg) scaleX(.55) translate(20px, 1px);
}

#label-check:checked + .hamburger-label .line3 {
    transform:rotate(206deg) scaleX(.55) translate(20px,-1px);
    border-radius: 0px 25px 25px 25px;
}

#label-check:checked + .hamburger-label .line2 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width:18px;
    margin-right: 25px;
}




/* links */
a:link {
    text-decoration: none;
    /* color: var(--white-color); */
 
}

a:hover {
    text-decoration: underline;
}


section {
    /* height: 100vh; */
    padding: 3rem;
    max-width: 100%;
    margin: 0 auto;
}

/* Home Section  */
#home{
    display: flex;
    align-items: center;
    height: 100vh;
    
}

.home-content {
    color: var(--white-color);
}

.greeting {
    font-size: 1.3rem;
}

.namess {
    margin-top: -.2rem;
    font-size: 1.2rem;
    
}

.title {
    margin-top: .7rem;
    font-size: 1.7rem;
}

.typed {
  color:var(--primary-color)
}

.intro {
   margin:1rem 0 ;
   font-size: 1rem;
   max-width: 90%;
  
}

.social-media i {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    font-size:23px;
}

.social-media a{
    display:inline-flex;
    justify-self:center;
    align-self: center;
    margin: 2px;
    padding: 2px;
    width: 30px;
    height:30px;
    font-size: 1.3rem;
    border: #0ef solid 1px;
    border-radius: 50%;
    text-decoration: none  ;
    color: var(--primary-color);

}

.social-media a:hover {
    color:var(--background-color);
    background: var(--primary-color);
    text-decoration: none;

}

.button{
    margin: 1.3rem 0 0 .3rem;
}

.btn {
    display:inline-block;
    padding: 10px 15px;    
    background:#0ef;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;

  }
  
.btn:hover{
      color:#0ef;
      background: #1f242d;
      transform: scale(1.05);
      text-decoration: none;
      box-shadow: 0 0 4px #0ef;
      border-radius: 6px;  
  }
 
  
.profile {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.p-image {
    width: 70%;
}

.p-image:hover{
    transform: scale(1.04);
}

/* About section  */


.about-header {
    margin:3rem  0;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.9v  );
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);
    /* outline: rgb(255, 0, 0) solid 1px; */

}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto ;
     
} 


.about-image {
    display: flex;
       
}

.a-pic{
    width:50%;
    height: 50%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.timeline{
    font-size: 15px;    
    align-self: center;
    justify-self: center;
    margin: 1rem 0 0 -15rem;  
    
    
}

.timeline ul{
    list-style:  circle;
}

.timeline li {
    font-size: 1rem;
    margin-left: 8rem;
    font-weight: 600;
    opacity: 80%;
}

.timeline p {
    margin-top: 1rem;
    font-weight: 500;

}



/* Skills section  */
.skills {
    background-color:var(--background-color);
    max-width: 100%;
   
}

.skill-header {
    margin:2rem;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.8);
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);
  
}

.skill-header:hover {
    text-decoration: none;
    background-color: #1E293B;
    border-radius: 5px;
    width:8rem;
    margin: 2rem auto;
    text-align: center;
    
}

.s-container{
max-width: 99%;
display: flex;
flex-direction: column;
margin: 1rem auto;
}

.p-languages {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    
}

.p-languages li {
    text-align: center;
    display: flex;
    justify-content: space-around;
    
    /* align-items: center; */
   
}

.skills h4 {
    margin: 1rem 0; 
    border-bottom: 1px #343b49 solid;


}

.language {    
    background: #343b49;
    border-radius: 4%;
    height: 40px;
    /* justify-content: center; */
    align-items: center; 
}
   
.s-pic {
    width: 30px;
    height: 30px;
           
}

.tools h4, .offices h4{
    margin-top: 2rem;
}



/* Project */
.project-header {
    margin:2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.8v  );
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);
}

.p-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project-card {

 
    background: #343b49;
    border-radius: 4px;


    
}

.project-image {
    width: 100%;
    border-radius: 6px 6px 0 0;    
}

.project-card h4 {
    margin: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-links i, .p-links .material-symbols-outlined{
    background: transparent;
    padding-top: 2px;
    font-size: 1.5rem;
    color: #111;
 }

 .p-links i:hover, .p-links .material-symbols-outlined:hover{
    color:#0ef;
    transform: scale(1.15);
 }



.project-links {
    margin: 0 0.5rem;
}

.project-card p {
    font-size: .93rem;
    margin: 0 0.5rem 2rem 0.5rem;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    }

.used-tools mark {
    color:#fff;
    padding:4px;
    background-color: #1f242d;
}

/* Blog section  */
.blog {
    color: #fff;
}

.blog-header {
    margin:2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.8v  );
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);
}

.blog-container {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    overflow:hidden; 
   
}

.blog-container a{
    color:#fff
}

.blog-container a:hover {
    text-decoration: none;
    
}

.b-card {
    
    background: #343b49;
    justify-content:space-between;
    align-items: center;
    margin: 1rem; 
    border-radius: 6px; 
    overflow: hidden;
    
     
    
}





.b-card:hover ,.b-pic:hover {
    color: var(--secondary-color);
    opacity: 95%;
    transform: scale(1.01);
    
}

.blog-text {
    margin : 1rem; 
    align-self: stretch;
}

.blog-text h4 {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.blog-text p{
    margin: 1rem 0;
    font-size: .9rem;
    
}

.b-pic {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

.b-button{
    text-align: center;
}

.more-blog {
    display: flex;    
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    margin: 2rem auto;
    color: #1f242d;
    background: transparent;
    border: 1px solid  #0ef;
    /* text-decoration: none solid rgb(129, 230, 217); */
}

.more-blog:hover {
    cursor: pointer;
    color:#242930;
    box-shadow: 0 0 4px #0ef;
    background-color: rgba(0, 238, 255, .8);
}

.blog-btn-link{
    color:#0ef;
    padding: 14px 25px;
}


.blog-btn-link:hover {
    color:#1f242d;
    text-decoration: none;
    
}


/* Testimonial Section  */
.testimonial-header{
    margin:2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.8v  );
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);
}

#testimonials .container {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    margin: 0 auto;


}

.testimonial {
    position:relative;
    max-width: 100%;
    color:#fff;
    width:100%;
    background:#2a313f;
    padding: 50px 0;
    row-gap: 60px;
    align-items: center;
    text-align: center;


}


.testimonial .slide{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    
    
}

img[class="t-pic"] {
        width: 20px; 
        height: 20px;
        border-radius: 50%;
        margin: 30px;
        object-fit: cover;
    }

.slide p{
 color: #fff;

  padding: 0 10rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 50px 0;
  
} 

.quote-icon1 {
    font-size: 30px;
    color:#0ef;
    margin-bottom:10px;}

.slide .quote-icon {
    font-size: 30px;
    color:#0ef;
    margin-bottom:50px;
}

.slide .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail .name {
    font-size: 14px;
    font-weight: 600;
}

.detail .job {
    font-size: 12px;
    font-weight: 400;

}

.navv-btn {
    height:40px;
    width:40px;
    border-radius: 50%;
    transform: translateY(-10px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.navv-btn:hover {
    background-color: rgba(0, 0, 0, 0.2) ;
}
.navv-btn::after,
.navv-btn::before {
    font-size: 20px;
    color: #fff;
}

.swipper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swipper-pagination-bullet:active {
    background-color: #4070f4;
  }

 
/* Contact Section  */
.contacts {
    color:#fff;
   
}

 .contact-header {
    margin:2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(160, 174, 192, 0.8v  );
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--header-font-size);

 }

.contact-text {
    text-align: center;
 }

 .social-media2 {
    margin : 1rem 0;

 }

 .social-media2 i {
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding: 1px;
 }

 .social-media2 svg {
    margin:1px;
    padding: 1px;
 }

 .social-media2 a{
    display:inline-flex;
    justify-self:center;
    align-self: center;
    margin: 6px;
    padding: 2px;
    width: 2.5rem;
    height:2.5rem;
    font-size: 1.3rem;
    border: #0ef solid 1px;
    border-radius: 50%;
    text-decoration: none  ;
    color: var(--primary-color);

}

.social-media2 a:hover {
    color:var(--background-color);
    background: var(--primary-color);
    text-decoration: none;
}

.form-part{
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
    max-width: 100%;
}

.form {
  display: flex;
  align-items: center;
  
  


}


fieldset{
    border: none;
    

}

legend {
    font-size: 1.1rem;
    padding-top: 1.3rem;
    text-align: center;
    
    
}

label{
    display:none
}

.inputs {
  margin: 1.3rem 0;
  
}
.form-group {
    display:flex;
    flex-direction: column;
    margin: 1rem;
}

input::invalid{
    color:red;
}

input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgb(160, 174, 192);
    padding: .9rem;
    color: #fff;
    width: 19rem;
    font-size: 1rem;
}

textarea {
    height: 6rem;
    font-size: 1rem;
    border-radius: 4px;
    background: transparent;
    color:#fff;
    resize: none;
    border: 1px solid rgb(160, 174, 192);
    padding: 5px;
    
}



.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.submit{
    
    text-align: center;    
    color: rgba(255, 255, 255, 0.87);
    border: .5px solid rgba(255, 255, 255, 0.726);
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 1.3rem;
    border-radius: 4px; 
    
        
}

.submit:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.664);
    transform: scale(1.02);

}

.subscribe {
    justify-content: center;
    align-items: center;
    margin: 0 2rem;  
  }

.subscribe p {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.1rem;
    text-align: left;
  }

/* footer section  */
footer {
    background-color: #0404083b;
    margin-top: 20px;
    height: 30px;

}
hr {
    opacity: 20%
}

footer p {
    text-align: center;
    font-size: 13px;
    margin-top: 4px;

}


/* Text Gradient  */
/* h4 {
    background: #121FCF;
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
} */


@media screen and (max-width:768px){
    :root{
        --header-font-size:1em;
    }

    .nav{ 
        display: none;
         }

        .nav-container{
            display: block;
        }

    #home {
        display:flex;
        flex-direction: column-reverse;
        height: fit-content;
    
        
    }

    .home-content {
        margin-top: 2em;
        justify-self: center;
        align-self: center;
    }

    .intro {
        max-width: 100%;
    }

    .profile {
        margin: 2em;
        align-self: center;
    }

    .p-image {
        width:40%
    }


    section {
        padding:2em;
    }
 /* about */
    .about {
        height:max-content;
        display:block;

    }

    .about-header{
        margin: 1em;
    }

    .about .container{
        margin: -1em;
      
    }

    .timeline {
        margin: 1em;
    }

    .about-image{
        display:none;
    }


    
 
/* skills */
.skills{
    height:fit-content;
}

.skill-header {
    margin: 1em;
}

.skills h4{
    font-size:1em;
}



.p-languages {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

/* Project */

.p-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}

.subscribe {
    display:none;
}

.project-footer {
    font-size: .5rem;
}

.project-footer mark {
    font-size: .7rem;
}

/* Blog */
.blog-container {
    margin: -2rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    flex-direction: column-reverse;
}

.contact {
    height: fit-content;
}




.b-pic{
    width:100%;
    height: fit-content;
    border-radius: 4px 4px 0 0;
}

.blog-text h4 {
    font-size: 1em;
}

.blog-text p {
    font-size: .9em;
}



/* testimonial  */


.testimonial {
    border: none;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}



.slide p {
    margin: 0;
    padding : 1em 2em 2em 1em;
}

.detail {
    margin-top: -1em;
}

.swiper-button-next , .swiper-button-prev{
    display: none;
}


/* contact  */
.form{
    justify-content: center;
}

.form-part {
    margin-top: 2rem;
}

.contact-text p {
    text-align: center;
    font-size: 0.9em;
 }


 .social-media2 i ,.social-media2 svg{
    display: inline-flex;
    align-self: center;
    justify-self: center;
    font-size:23px;
}

.social-media2 a{
    display:inline-flex;
    justify-self:center;
    align-self: center;
    margin: 3px;
    padding: 2px;
    width: 1.5em;
    height:1.5em;
    font-size: 1.3rem;
    border: #0ef solid 1px;
    border-radius: 50%;
    text-decoration: none  ;
    color: var(--primary-color);

}

.social-media2 a:hover {
    color:var(--background-color);
    background: var(--primary-color);
    text-decoration: none;

}



}